/* .App {
  text-align: center;
} */
body{
	font-family: 'Montserrat', sans-serif;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 5vh;
	padding: 0 20px;
	background-color: #2d1915;
	color:#fff;
	min-height: 10px;
	position: static;
}

.nav-link{
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
li:hover{
	color:'blue';
}
.header{
	display: flex;
	justify-content: center;
	margin: 50px;
}
.directorsBg{
	display: flex;
	flex-direction: column;
	background-color: #efefef;
	padding: 40px;
	align-items: center;
}

.directContainer {
	display: flex;
	margin: 50px;
	max-width: 1400px;
}

.directContainer>div{
	text-align: left;
	margin-left: 40px;
}

p{
	line-height: 20px;
	color:rgb(14, 13, 24);
}

.directors-list{
	position: absolute;
	width: auto;
	height: 300px;
	z-index: 2;
}